.example-form {
    min-width: 150px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .card-style {
    margin: 20px 5% 0 5%;
    background: ghostwhite;
  }
  
  .error-icon-style {
    color: #f44336;
  }